<h1>Available currencies</h1>
<mat-grid-list [cols]="cols" rowHeight="80px" class="Currencies__grid">
  <mat-grid-tile
    [routerLink]="'/currency/'+c.id"
    class="Currencies__element"
    *ngFor="let c of currencies | angularPaginator: { currentPage: currentPage };"
    colspan="1"
    rowspan="1">
    <div class="Currency__details">
      <span>ID:{{c.id}}</span>&nbsp;&nbsp;
      <span>Type:{{c.currency_type}}</span>&nbsp;&nbsp;
      <span>National Symbol:{{c.native_symbol}}</span>

    </div>
  </mat-grid-tile>
</mat-grid-list>

<app-angular-paginator
  class="Currencies__paginator"
  [boundaryLinks]="true"
  [directionLinks]="true"
  firstText="<<"
  previousText="Previous"
  nextText="Next"
  lastText=">>"
  (pageChange)="currentPage = $event"></app-angular-paginator>
