:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Currencies__grid {
  width: 700px;
}

.Currencies__element {
  border: 2px solid;
  margin-left: 10px;
  //padding: 5px;
  //margin: 15px;
}
